div {
	border:1px solid white;
}

.pacman {
	width: 50px;
	height: 50px;
	/* background-color: orange; */
	background-image: url('../Assets/pacman.png');
	display: inline-block;
}

.wall {
	width: 50px;
	height: 50px;
	background-color: darkblue;
	/* background-image: url('../Assets/wall.png'); */
	display: inline-block;
}

.coin {
	width: 50px;
	height: 50px;
	background-image: url('../Assets/coin.png');
	display: inline-block;
}

.empty {
	width: 50px;
	height: 50px;
	background-color: #121212;
	/* background-image: url('../Assets/bg.png'); */
	display: inline-block;
}

.linechange {
	white-space: pre-line;
	margin-top: -6px;
}

.color {
	width: 50px;
	height: 50px;
	background-color: limegreen;
	display: inline-block;
}

.goalcolor {
	width: 50px;
	height: 50px;
	background-color: red;
	display: inline-block;
}

.inputbox {
	color: white;
	font-size: larger;
	background-color: #333;
	width: fit-content;
	padding: 5px;
}

button {
	font-size: large;
	border: 2px solid #121212;
	background-color: #bb86fc;
}